
<section id="service-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6">
                <a href="@myconfig.GetConfigByKey("HomeServiceOneUrl")">
                    <img class="img-fluid" src="@myconfig.GetConfigByKey("HomeServiceOneAvatar")" />
                    <span>@myconfig.GetConfigByKey("HomeServiceOneTitle")</span>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="@myconfig.GetConfigByKey("HomeServiceTwoUrl")">
                    <img class="img-fluid" src="@myconfig.GetConfigByKey("HomeServiceTwoAvatar")" />
                    <span>@myconfig.GetConfigByKey("HomeServiceTwoTitle")</span>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="@myconfig.GetConfigByKey("HomeServiceThreeUrl")">
                    <img class="img-fluid" src="@myconfig.GetConfigByKey("HomeServiceThreeAvatar")" />
                    <span>@myconfig.GetConfigByKey("HomeServiceThreeTitle")</span>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="@myconfig.GetConfigByKey("HomeServiceFourUrl")">
                    <img class="img-fluid" src="@myconfig.GetConfigByKey("HomeServiceFourAvatar")" />
                    <span>@myconfig.GetConfigByKey("HomeServiceFourTitle")</span>
                </a>
            </div>
        </div>
    </div>
</section>